<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется в процессе публикации или упаковки вашего веб-проекта. Вы можете настроить поведение процесса,
изменив этот файл MSBuild. Дополнительные сведения см. по адресу http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://temain6-001-site1.dtempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://temain6-001-site1.dtempurl.com:8172/msdeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>temain6-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ifc\temain6-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ForsazhConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=SQL5027.myASP.NET;Initial Catalog=DB_A05A42_Forsazh;User ID=DB_A05A42_Forsazh_admin;Password=a_Rwk76bL" Name="Data Source=SQL5027.myASP.NET;Initial Catalog=DB_A05A42_Forsazh;User Id=DB_A05A42_Forsazh_admin;Password=a_Rwk76bL;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="SaleOfDetails.Domain.Context.ApplicationDbContext, SaleOfDetails.Domain" MigrationConfiguration="SaleOfDetails.Domain.Migrations.Configuration, SaleOfDetails.Domain" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ForsazhConnection-Web.config Connection String">
      <ParameterValue>Data Source=SQL5027.myASP.NET;Initial Catalog=DB_A05A42_Forsazh;User Id=DB_A05A42_Forsazh_admin;Password=a_Rwk76bL;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>